.task {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/images/notebgyellow.png");
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 250px;
    transition: transform 0.3s ease-in-out;
    filter: saturate(50%);
    z-index: 2;
}

.task:hover {
    filter: saturate(100%);
}


.task > *{
    margin-left: 8px;
}

.task-textarea {
    margin-bottom: 2px;
    margin-top: -25px;
    height: 160px;
    width: 162px;
    resize: none;
    overflow-x: hidden;
    border: none;
    background: none;
    font-family: caveat;
}

.task-date, .task-time {
    width: 110px;
    font-weight: bold;
}

.task-pin {
    position: relative;
    top:-20px;
    width: 40px;
    left: 65px;
    cursor: pointer;
}

.minimize-task{
    color:#0000004b;
    cursor: pointer;
    visibility: hidden;
}

.remove-task {
    visibility: hidden;
    color:#0000004b;
    cursor: pointer;
}

.icons-container {
    width: 100%;
    position: relative;
    display: flex;
    margin-right: 30px;
    margin-left: -85px;
    top: -204px;
    justify-content: space-between;
    font-size: 13px;
}

.copy-task, .recolor-task{
    color:#0000004b;
    cursor: pointer;
}

.remove-task:hover, .copy-task:hover, .minimize-task:hover, .recolor-task:hover {
    color:#000000;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.palette {
    height: 0;
    display: none;
}

.palette > input[type='radio'] {
    position: relative;
}

.palette > input[type='radio']:nth-of-type(1) {
    top: -227px;
    left: 48px;
}

.palette > input[type='radio']:nth-of-type(2) {
    top: -212px;
    left: 22px;
}
.palette > input[type='radio']:nth-of-type(3) {
    top: -212px;
    left: 22px;
}
.palette > input[type='radio']:nth-of-type(4) {
    top: -195px;
    left: 4px;
}
.palette > input[type='radio']:nth-of-type(5) {
    top: -203px;
    left: 2px;
}
.palette > input[type='radio']:nth-of-type(6) {
    top: -188px;
    left: -7px;
}
.palette > input[type='radio']:nth-of-type(7) {
    top: -203px;
    left: -16px;
}
.palette > input[type='radio']:nth-of-type(8) {
    top: -195px;
    left: -18px;
}
.palette > input[type='radio']:nth-of-type(9) {
    top: -212px;
    left: -36px;
}
.palette > input[type='radio']:nth-of-type(10) {
    top: -227px;
    left: -44px;
}
.palette > input[type='radio']:nth-of-type(11) {
    top: -212px;
    left: -53px;
}
.palette > input[type='radio']:nth-of-type(12) {
    top: -242px;
    left: 79px;
}

.palette > input[type='radio']:checked:after, .palette > input[type='radio']:hover:after {
    height: 15px;
    top: -2px;
}

.active-alert {
    color:#f8000075;
}

.active-alert:hover {
    color:#f80000;
}


@media only screen and (max-width: 768px){

    .task {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        height: 250px;
    }

    .task-textarea {
        width: 132px;
    }

    .task-pin {
        left: 50px;
    }
    .copy-task{
        left: -6px;
    }

    .icons-container {
        margin-right: 10px;
        margin-left: -85px;
    }

    .palette {
        position: absolute;
        top: 40px;
        left: 100px;
        width:40px;
        z-index: 20;

    }
    
    .palette > input[type='radio'] {
        position: static;
        z-index: 20;
    }
}